body, html {
    height: 100%;
    margin: 0;
}
.bg {
    position: relative;
    /* The image used */
    background-image: url("../images/calvin-ma-1270892-unsplash.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg-overlap {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.rounded {
    border-radius: 50%;
}

.white-border {
    border: 5px solid white
}

p {
    font-family: 'Happy Monkey', cursive;
    color: white;
}

#title {
    font-size: 2em;
}